{% extends "base.html" %}

{% block title%}Kink.com API Information{% endblock %}

{% block content %}
    <div>
        <h1>Kink.com API</h1>
        <h3>Queries their models, sites and shoots.</h3>
    </div>

    <br />

    <div>
        <h2>API Output</h2>
        The API outputs JSON, with the fields 'errors', 'length' and 'results'.
        <ul>
            <li>'errors' is None or a string with an error message</li>
            <li>'length' is the number of results</li>
            <li>'results' is a list of shoots/performers/sites, with the attributes listed below</li>
        </ul>
    </div>

    <div>
        <h2>API-methods</h2>
        <ul>
            <li>
                <h4>Shoots:</h4>
                    <div class="fields">
                        <strong>Fields:</strong>
                        <ul >
                            <li><span class="name">shootid:</span> <u>Integer</u></li>
                            <li><span class="name">title:</span> <u>String</u></li>
                            <li><span class="name">date:</span> <u>Integer</u>, the timestamp of the released-day</li>
                            <li><span class="name">exists:</span> <u>Boolean</u>, whether the shootid exists or not (404)</li>
                            <li><span class="name">site:</span> The corresponding sub<u>Site</u></li>
                            <li><span class="name">performers:</span> <u>List</u> of models credited for the shoot</li>
                        </ul>
                    </div>
                <br />
                <ul>
                    <li>
                        Search for a <strong>shoot by shootid</strong>:
                        <ul>
                            <li><a href="shoot/1337">shoot/1337</a>: Get shoot with id 1337</li>
                            <li><a href="shoot/">shoot</a>: Get latest shoot</li>
                        </ul>
                    </li>
                    <li>
                        Search for <strong>shoots by title</strong> with case insensitive regular expressions:
                        <ul>
                            <li><a href="shoot_title/Apocalypse">shoot_title/Apocalypse</a>:
                                Get all shoots with "Apocalyspe" in their name</li>
                            <li><a href="shoot_title/^boobs.*">shoot_title/^boobs.*</a>:
                                Get all shoots starting with "boobs"</li>
                            <li><a href="shoot_title/.*">shoot_title/.*</a>:
                                Get all shoots (>40k shoots + 3k models! If you want a dump, look <a href="#dump">here</a>)</li>
                        </ul>
                    </li>
                    <li>
                        Search for <strong>shoots by date</strong>:
                        <ul>
                            <li><a href="shoot_date/2016-12-30">shoot_date/2016-12-30</a>:
                                Get all shoots on the 30th of december 2016</li>
                            <li><a href="shoot_date/1483056000">shoot_date/1483056000</a>:
                                Get all shoots on the date of that timestamp (also 2016-12-30)</li>
                        </ul>
                    </li>
                    <li>
                        Search for <strong>shoots with the model(s) having that/these number(s)</strong>:
                        <ul>
                            <li><a href="shoot_performers/18418">shoot_performers/18418</a>:
                                Get all shoots with the model with the number 18418</li>
                            <li><a href="shoot_performers/21648/18418/14228">shoot_performers/21648/18418/14228</a>:
                                Get all shoots with the models with the numbers 21648, 18418 and 14228</li>
                        </ul>
                    </li>
                    <li>
                        Search for <strong>shoots with models matching that name</strong> by case insensitive regular expressions:
                        <ul>
                            <li><a href="shoot_performers_names/John">shoot_performers_names/John</a>:
                                Get all shoots with performers named John</li>
                            <li><a href="shoot_performers_names/^Bella[^R]?[^o]?[^s]?[^s]?[^i]?.*$">
                                                            shoot_performers_names/^Bella[^R]?[^o]?[^s]?[^s]?[^i]?.*$</a>:
                                Get latest shoot with performers who are not Bella Rossi</li>
                            <li><a href="shoot_performers_names/Mz Berlin, Bella Rossi, Mia Lelani">shoot_performers_names/Mz Berlin, Bella Rossi, Mia Lelani</a>:
                                Get all shoots with the performers </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Performers:</h4>
                    <div class="fields">
                        <strong>Fields:</strong>
                        <ul >
                            <li><span class="name">name:</span> <u>String</u></li>
                            <li><span class="name">number:</span> <u>Integer</u></li>
                            <li><span class="name">$model_data:</span> <u>Strings</u> of data, like height and weight</li>
                        </ul>
                    </div>
                <br />
                <ul>
                    <li>
                        Search for <strong>models by their number</strong>
                        <ul>
                            <li><a href="performer/18418">/performer/18418</a>:
                            Get the model with the number 18418</li>
                        </ul>
                    </li>
                    <li>
                        Search for <strong>models named</strong> by case insensitive regular expressions:
                        <ul>
                            <li><a href="performer_name/John">performer_name/John</a>:
                                Get all performers named John</li>
                            <li><a href="performer_name/.*">performer_name/.*</a>:
                                Get all performers</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Sites:</h4>
                    <div class="fields">
                        <strong>Fields:</strong>
                        <ul >
                            <li><span class="name">name:</span> <u>String</u></li>
                            <li><span class="name">short_name:</span> <u>String</u> (the channel url)</li>
                            <li><span class="name">is_partner:</span> <u>Boolean</u> if it's not a "main" site of Kink.com</li>
                        </ul>
                    </div>
                <br />
                <ul>
                    <li>
                        Search <strong>for sites by name</strong>
                        <ul>
                            <li><a href="site/bondage .*">site/bondage .*</a>:
                                Get all sites with bondage in the name</li>
                            <li><a href="site/Device Bondage">site/Device Bondage</a>:
                                Get all sites named Device Bondage</li>
                            <li><a href="site/.*">site/.*</a>:
                                Get all sites</li>
                        </ul>
                    </li>
                    <li>
                        Search for <strong>non-partner sites by name</strong>
                        <ul>
                            <li><a href="site_main/Device Bondage">site_main/Device Bondage</a>:
                                Get all sites named Device Bondage</li>
                            <li><a href="site_main/.*">site_main/.*</a>:
                                Get all "main" sites</li>
                            <li><a href="site_main/Evil Angel">site_main/Evil Angel</a>:
                                Get all "main" sites named Evil Angel, but since it's a partner-site, return none</li>
                        </ul>
                    </li>

                </ul>
            </li>
        </ul>
    </div>

    <div>
        <h2><a id="dump">Database Dump</a></h2>
        <div>
            MySQL dump of the tables of this API: <a href="dump_db/">Download</a><br />
            Insert via: <code>mysql --user=$usr --passwort=$pw kinkyapi < $dump</code>
        </div>
        <div>
            Sqlite3 dump of the tables of this API: <a href="dump_sqlite/">Download</a><br />
            Converted by: <a href="https://github.com/dumblob/mysql2sqlite">mysql2sqlite</a>
        </div>
        For using the dump, download the <a href="dump_models.py">models.py</a>
        and use it in your own Django project, for example.

        <br />
        - or -<br />
        <br />
        <div>
            JSON dump of <a href="dump_shoots">all shoots</a>, <a href="dump_sites">all sites</a> and <a href="dump_performers">all models</a>. <br />
            Use this when you would otherwise call the API often
        </div>
    </div>

    <br /><br /><br /><br />


{% endblock %}