body {
    padding-left: 15px;
    padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background: rgba(0, 100, 0, 0.1);
}

.col-lg-4 {
  text-align: center;
}

.fields {
    padding-left: 20px;
}

.fields ul {
    list-style-type: disc;
}

.fields li .name {
    color: #006400;
}